html {
    font-family: 'Courier New', Courier, monospace
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-title-container {
    padding: 25px;
}

.main-title {
    text-align: center;
}

.projects {
    font-size: 18px;
}

.projects-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin: auto;

}

.project {
    padding: 50px 0px;
    border-bottom: 1px solid black;
}
.project-highlight {
    font-weight: bold;
}

.project:last-child {
    border-bottom: none;
}